@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #C5A059;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-cinzel);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #C5A059;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--foreground);
}

button:hover, a:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-cinzel), serif;
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;}